  <div>
    Categories
    <div style="padding-top: 3px;">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <span class="post-tag big"><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></span>
      {{ end }}
    </div>
  </div>

  <div style="margin-top: 3px; margin-bottom: 15px">
    Tags
    <div style="padding-top: 3px;">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <span class="post-tag big"><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></span>
      {{ end }}
    </div>
  </div>
